/**Enum************************************************************************

  Resumen     [obligatorio]

  Descripción [opcional]

  Ver también [opcional]

******************************************************************************/
