/**Función********************************************************************

  Resumen      [obligatorio]

  Descripción  [opcional]

  Parámetros   [opcional]  

  Efec. Colat. [obligatorio]

  Ver también  [opcional]

******************************************************************************/
