/**Macro***********************************************************************

  Resumen      [obligatorio]

  Descripción  [opcional]

  Efec. Colat. [obligatorio]

  Ver también  [opcional]

******************************************************************************/
#define 

