/**Variable********************************************************************

  Resumen     [obligatorio]

  Descripción [opcional]

  Ver también [opcional]

******************************************************************************/
